{% extends "base_generic.html" %}
{% load tz %}
{% load widget_tweaks %}

{% block content %}

    <section class="hero is-primary is-small" name="title">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2 class="subtitle">
                    {% now "j F Y" %}
                </h2>
            </div>
        </div>
    </section>

    {% if messages %}
        <div class="container">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <section class="section" name="areas">
        <div class="columns">
            <div class="column is-narrow">
                <div class="box">
                    <form id="areas_form" action="{% url 'daily:index' %}" method="post">
                        {% csrf_token %}
                        <label class="label">New Area</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {% render_field area_form.your_name class="input" placeholder="Area Name" %}
                            </div>
                            <div class="control">
                                <input class="button is-primary" type="submit" name="add_area"
                                       value="Add Area"/>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="box">
                    <form id='tasks_form' action="{% url 'daily:index' %}" method="post">
                        {% csrf_token %}
                        <label class="label">New Task</label>

                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {% render_field task_form.your_name class="input" placeholder="Task Name" %}
                            </div>
                            <div class="control">
                                <input class="button is-full-width is-primary" type="submit" name="add_task"
                                       value="Add Task"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <form id='intervals_form' action="{% url 'daily:index' %}" method="post">
                        {% csrf_token %}
                        <nav class="level">
                            <div class="level-left">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <input class="button is-primary" type="submit" name="start_interval"
                                               value="Start Interval"/>
                                    </p>
                                    <p class="control">
                                        <input class="button is-danger" type="submit" name="end_interval"
                                               value="End Interval"/>
                                    </p>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="field is-right">
                                    <p class="control">
                                        <input class="button is-link" type="submit" name="export"
                                               value="Export to Google Calendar"/>
                                    </p>
                                </div>
                            </div>
                        </nav>
                    </form>
                </div>
                {% if today_areas_list %}
                    {% include "daily/_areas_list.html" with areas=today_areas_list tasks_form="tasks_form" intervals_form="intervals_form" %}
                {% else %}
                    <p>No Areas added for today. Add an Area to see it appear here :)</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}