<h1>{{ today_date }}</h1>

<form action="{% url 'daily:index' %}" method="post">
    {% csrf_token %}
    {{ area_form }}
    <input type="submit" value="Submit">
</form>      

<form action="{% url 'daily:add_task' %}" method="post">
{% csrf_token %}
{{ task_form }}
<input type="submit" value="Add Task" />
{% if today_areas_list %}
    <ul>
    {% for area in today_areas_list %}
        <li>
        {{ area.name }} - {{ area.date }} - {{ area.priority }}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ area.id }}" />
        </li>
        {% if area.task_set.all %}
            <ul>
            {% for task in area.task_set.all %}
                <form action="{% url 'daily:add_interval' %}" method="post">
                {% csrf_token %}
                <li>
                    {{ task.name }} - {{ task.priority }}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ task.id }}" />
                    <input type="submit" name="start" value="Start" />
                    <input type="submit" name="end" value="End" />
                        {% if task.interval_set.all %}
                            <ul>
                            {% for interval in task.interval_set.all %}
                                <li>
                                    {{ interval.start }} - {{ interval.end }}
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <ul>
                            <li>No Intervals for this area :)</li>
                            </ul>
                        {% endif %}
                </li>
                </form>
            {% endfor %}
            </ul>
        {% else %}
            <ul>
            <li>No Tasks for this area :)</li>
            </ul>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No Areas added for today. Add an Area to see it appear here :)</p>
{% endif %}
</form>      